---
import type { Author, Note, Link, Institution } from "../types/types";
import Links from "./Links.astro";
import Authors from "./Authors.astro";
import Notes from "./Notes.astro";
import Institutions from "./Institution.astro";

interface Props {
  title: string;
  authors: Author[];
  institutions?: Institution[];
  conference?: string;
  notes?: Note[];
  links: Link[];
}

const { title, authors, institutions, conference, notes, links } = Astro.props as Props;
---

<header class="flex flex-col gap-5 items-center mb-4", style="font-family: 'Arial', serif;">
  <h1 class="text-3xl font-bold tracking-tight text-center">{title}</h1>
  <hr class="w-full border-t-2 border-gray-400 mb-1" />
  <div class="flex flex-col gap-3 items-center">
    <Authors authors={authors} />
    {institutions && <Institutions institutions={institutions} />}
    <!--{conference && <p class="text-base text-center">{conference}</p>}-->
    {notes && <Notes notes={notes} />}
    {links && <Links links={links} />}
  </div>
</header>
